# Configuration data
config/auth.js
config/db.js

# Dependency directories
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git

public/libs/

**/.DS_Store

###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
