<div>
  <h2>Write a Review</h2>
  <h3>Rating
  </h3>
    <i class="empty star icon" ng-click="rating=1"></i>
    <i class="empty star icon" ng-click="rating=2"></i>
    <i class="empty star icon" ng-click="rating=3"></i>
    <i class="empty star icon" ng-click="rating=4"></i>
    <i class="empty star icon" ng-click="rating=5"></i>
  <h3>Price
  </h3>
    <i class="dollar icon" ng-click="price=1"></i>
    <i class="dollar icon" ng-click="price=2"></i>
    <i class="dollar icon" ng-click="price=3"></i>
    <i class="dollar icon" ng-click="price=4"></i>
    <i class="dollar icon" ng-click="price=5"></i>
  <h3>Your Review </h3>
  <textarea name="" id="" cols="" rows=""></textarea>
  <button class="ui button" ng-click="submitReview()">Submit Review</button>
</div>
