<div class="wrapper">

  <section class="main">
    <div>
      <h1>Filters</h1>
      buttons
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </section>

  <aside>
    <h1>Restaurants</h1>
    <div class="ui icon small input">
      <input type="text" placeholder="Search HR favorites...">
      <i class="search icon"></i>
    </div>
    <ul>
      <li>asdf</li>
      <li>asdf</li>
      <li>asdf</li>
      <li>asdf</li>
      <li>asdf</li>
    </ul>

    <p ui-sref="home.add-business"><i class="add circle icon"></i>
Add Restaurant</p>
  </aside>
</div>
