<div class="wrapper">

  <section class="main">
    <button class="back-button ui button" ng-click="backToMap()">
      Back to Map
    </button>

    <div>
      <h1>{{business_data.business_name}}</h1>
      <div>
        <span class="business-info-icon">
          <i class="marker icon"></i>
        </span>
        <span class="business-info">
          <h3>{{business_data.address[0]}}</h3>
          <h3>{{business_data.address[1]}}</h3>
        </span>
      </div>
      <div>
        <span class="business-info-icon">
          <i class="call icon"></i>
        </span>
        <span class="business-info">
          <h3>{{business_data.phone}}</h3>
        </span>
      </div>
    </div>
    <div class="ui divider"></div>

    <div ui-view></div>

  </section>

  <aside>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="marker" coords="'self'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
  </aside>

</div>
