<div class="wrapper">

  <section class="main-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
  </section>

  <aside>
    <div class="ui transparent left icon input">
      <input type="text" placeholder="Filter places to {{searchItem}}...">
      <i class="search icon"></i>
    </div>

    <div class="ui divider"></div>

    <div class="business-list">
      <div ng-repeat="business in data" ui-sref="home.business({ google_id: business.google_id, filterNum: searchItems.indexOf(searchItem) })">
        {{business.business_name}}
        <div class="ui divider"></div>
      </div>
    </div>

    <button ng-class="{disabled: !isLoggedIn}" class="ui labeled icon button" ui-sref="home.add-business({filterNum: searchItems.indexOf(searchItem)})">
      <i class="plus icon"></i>
      Add Business
    </button>
  </aside>
</div>
