<div class="wrapper">

  <section class="main-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </section>

  <aside>
    <div class="ui icon small input">
      <input type="text" placeholder="Filter places to {{searchItem}}...">
      <i class="search icon"></i>
    </div>
    <ul>
      <li ng-repeat="business in data" ui-sref="home.business({ google_id: business.google_id, filterNum: searchItems.indexOf(searchItem) })">{{business.business_name}}</li>
    </ul>
    <button class="ui button" ui-sref="home.add-business">Add Business</button>
  </aside>
</div>
