<div class="wrapper">

  <section class="main">
    <div>
      <h1>{{business_data.business_name}}</h1>
      <div>
        <span style="float:left;">
          <i class="marker icon"></i>
        </span>
        <span style="display: inline-block;">
          <h3>{{business_data.address[0]}}</h3>
          <h3>{{business_data.address[1]}}</h3>
        </span>
      </div>
      <div>
        <span style="display: inline">
          <i class="call icon"></i>
        </span>
        <span style="display: inline-block">
          <h3>{{business_data.phone}}</h3>
        </span>
      </div>
    </div>
    <button class="ui button" ui-sref="home.search">Back to Map</button>
    <div class="ui divider"></div>

    <div ui-view></div>

  </section>

  <aside>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="marker" coords="'self'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
  </aside>

</div>
