<div class="wrapper">

  <section class="main">
    <div>
      <h1>{{business_data.business_name}}</h1>
      <h3>{{business_data.address[0]}}</h3>
      <h3>{{business_data.address[1]}}</h3>
      <h3>{{business_data.phone}}</h3>
    </div>
    <div class="ui divider"></div>
    <div>
      <h2>Reviews</h2>
      <button>Write a Review</button>
    </div>
  </section>

  <aside>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="marker" coords="'self'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
  </aside>

</div>
