<header>
  <span style="display: inline-block">
  <i class="left rain icon" ng-click="" style="font-size: 32px; margin-right: 40px"></i>
  </span>
  <select dir="rtl" ng-model="searchItem" ng-options="objective for objective in searchItems" ng-keypress="startSearch($event, searchItem)" autofocus></select>
  <span>@ Hack Reactor</span>
  <span style="display: inline-block">
  <i class="right sign in icon" ng-click="showModal()" style="font-size: 32px; margin-left: 40px"></i>
  </span>

  <modal ng-model="show_modal">
    <i class="close icon" ng-click="closeModal()"></i>
    <div class="header"><i class="github icon"></i>Sign in with GitHub</div>
    <div class="actions">
      <div class="two fluid ui buttons">
        <div class="ui negative labeled icon button" ng-click="closeModal()">
          <i class="remove icon"></i>
            No
        </div>
        <a type="button" ng-href="/auth/github" class="ui positive right labeled icon button">
          Yes
          <i class="checkmark icon"></i>
        </a>
      </div>
    </div>
  </modal>

</header>
<div ui-view></div>
