<div class="wrapper">

  <section class="main">
    <div class="ui large icon input">
      <input type="text" ng-autocomplete ng-model="business" options="inputOptions" details="details" placeholder="Add a place to {{searchItem.toLowerCase()}}...">
      <i class="search icon" ng-click="getData()"></i>
    </div>
    <h1>{{business_data.business_name}}</h1>
    <h3>{{business_data.address[0]}}</h3>
    <h3>{{business_data.address[1]}}</h3>
    <h3>{{business_data.phone}}</h3>
    <div class="ui divider"></div>
    <button ng-click="submitData()" class="ui button">Add {{business_data.business_name}}</button>
  </section>

  <aside>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    <ul>
      <li ng-repeat="hours in details.opening_hours.weekday_text">{{hours}}</li>
    </ul>
  </aside>

</div>
