<div class="wrapper">

  <section class="main">
    <button class="back-button ui button" ng-click="backToMap()">
      Back to Map
    </button>
    <div class="ui large icon input">
      <input
        ng-autocomplete
        options="inputOptions"
        details="details"
        ng-model="business"
        type="text"
        placeholder="Add a place to {{searchItem}}..."
        ng-keypress="isDuplicate(details.place_id, $event)"
        />
      <i class="search icon" ng-click="getData(details)"></i>
    </div>
    <div ng-show="details.place_id">
      <h1>{{details.name}}</h1>
      <div>
        <span class="business-info-icon">
          <i class="marker icon"></i>
        </span>
        <span class="business-info">
          <h3>{{details.formatted_address.split(',')[0]}}</h3>
          <h3>{{details.formatted_address.split(',')[1] + ',' + details.formatted_address.split(',')[2]}}</h3>
        </span>
      </div>
      <div>
        <span class="business-info-icon">
          <i class="call icon"></i>
        </span>
        <span class="business-info">
          <h3>{{details.formatted_phone_number}}</h3>
        </span>
      </div>
    </div>
    <div class="ui divider"></div>

    <button ng-click="submitData(details)" ng-class="{disabled: disable}" class="ui labeled icon button" ng-show="details.place_id">
      <i class="plus icon"></i>
      Add {{details.name}}
    </button>
  </section>

  <aside>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="marker" coords="'self'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
    <ul>
      <li ng-repeat="hours in details.opening_hours.weekday_text">{{hours}}</li>
    </ul>
  </aside>

</div>
