<div>
  <h2>Write a Review</h2>
  <h3>Rating:
    <i class="empty star icon"></i>
    <i class="empty star icon"></i>
    <i class="empty star icon"></i>
    <i class="empty star icon"></i>
    <i class="empty star icon"></i>
  </h3>
  <h3>Price:
    <i class="dollar icon"></i>
    <i class="dollar icon"></i>
    <i class="dollar icon"></i>
    <i class="dollar icon"></i>
    <i class="dollar icon"></i>
  </h3>
  <h3>Your Review: </h3>
  <textarea name="" id="" cols="30" rows="10"></textarea>
  <button class="ui button">Submit Review</button>
</div>
