<!DOCTYPE html>
<html lang="en" ng-app="hungry">
	<head>
		<title>Hungry @ HR</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body ng-controller="HomeController">
		<div class="main">
			<header>
				<h1>Hungry @ HR</h1>
			</header>
			<!-- <a ui-sref="map">Map</a> -->
			<nav class="nav">
				<button ui-sref="signup">Login</button>
				<button ui-sref="add-business">Add Restaurant</button>
			</nav>

			<aside class="restaurants">
			  <h2>Restaurants</h2>
			  <ul>
			    <li ng-repeat="business in businesses">
			      <div ui-sref="business" ng-click="setIndex($index)">{{business.business_name}} ({{(business.stars/business.review_count).toFixed(2)}})</div>
			    </li>
			  </ul>
			</aside>

			<section class="window" ui-view></section>
			<footer></footer>
		</div>

		<script src="/libs/angular/angular.js"></script>
		<script src="/libs/angular-route/angular-route.js"></script>
		<script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/controllers/homeCtrl.js"></script>
		<script src="/controllers/businessCtrl.js"></script>
		<script src="/app.js"></script>
	</body>
</html>