<div>
  <h2>Add Restaurant</h2>
  <form action="business" method="POST">
    <label>Restaurant Name</label>
    <br>
    <input type="text" name="business_name" placeholder="name" required></input>
    <br>
    <label>Address</label>
    <br>
    <input type="text" name="address" placeholder="address" required></input>
    <br>
    <label>Phone #</label>
    <br>
    <input type="text" name="phone" placeholder="phone #"></input>
    <br><br>
    <input type="checkbox" name="lunch"> Open for Lunch?</input>
    <br>
    <input type="checkbox" name="dinner"> Open for Dinner?</input>
    <br>
    <button type="submit">Add Restaurant</button>
  </form>

</div>
