<div ng-controller="BusinessController">
  <!-- displays selected business reviews -->
  <h2>{{businesses[index].business_name}}</h2>
  <!-- <h3>{{businesses[index]._id}}</h3> -->
  <div>Stars: {{businesses[index].stars}}</div>
  <div>Reviews: {{businesses[index].review_count}}</div>
  <br>

  <form action="review" method="POST">
    <label>Stars (1-5)</label>
    <br>
    <input type="radio" name="stars" value="1">
    <input type="radio" name="stars" value="2">
    <input type="radio" name="stars" value="3">
    <input type="radio" name="stars" value="4">
    <input type="radio" name="stars" value="5">
    <br>
    <label>Review</label>
    <br>
    <textarea name="review"></textarea>
    <br>
    <input type="hidden" name="business_id" value="{{businesses[index]._id}}"></input>
    <input type="hidden" name="user_id" value="">
    <input type="hidden" name="date" value="">
    <input type="submit" value="Submit Review">
    <br>
  </form>

  <h3>Reviews:</h3>
  <!-- TO-DO: Include usernames -->
  <ul>
    <li ng-repeat="review in reviews | filter:businesses[index]._id">{{review.review_text}}</li>
  </ul>
</div>
